<!--The content below is only a placeholder and can be replaced.-->
<app-navigation></app-navigation>
<app-usha></app-usha>

<!--
<div>
  <app-login></app-login>
</div>
<div>
  <app-registration></app-registration>
</div> -->



<!-- routing -->
<!-- <div class ="container" style="text-align:center">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLinkActive="active" routerLink="login">Login</a>
      </li>
      <li>
          <a routerLinkActive="active" routerLink="registration">Register</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div> -->



