<!-- <p>
  usha works!
  hello hy helloo  fghuiejbfnbsfiebdg

</p> -->

<html>
  <head>
    <title>login&register</title>
  </head>
  <div class="container cbox">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header"><h2 class="text-center">Login Form</h2></div>
        <form>
          <div class="form-group">
            <label for="exampleDropdownFormEmail2">Email address</label>
            <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
          </div>
          <div class="form-group">
            <label for="exampleDropdownFormPassword2">Password</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck2">
              <label class="form-check-label" for="dropdownCheck2">
                Remember me
              </label>
            </div>
          </div>
          <div class="card-footer">
          <button type="submit" class="btn btn-primary">Sign in</button>
          <button type="reset" class="btn btn-danger ml-3">Clear</button>
        </div>
        </form>
      </div>
      </div>
      <div class="col-sm-6">
          <div class="card">
              <div class="card-header"><h2 class="text-center">SignUp Form</h2></div>
            <form>
              <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="fullName" placeholder="Full Name">
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Address">
              </div>
              <div class="form-group">
                  <label for="userName">UserName</label>
                  <input type="text" class="form-control" id="userName" placeholder="userName">
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="number" class="form-control" id="phone" placeholder="Phone Number">
              </div>
             
              <!-- <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                  <label class="form-check-label" for="dropdownCheck2">
                    Remember me
                  </label>
                </div>
              </div> -->
              <div class="card-footer">
              <button type="submit" class="btn btn-primary">Sign Up</button>
              <button type="reset" class="btn btn-danger ml-3 round">Clear</button>
            </div>
            </form>
          </div>        
      </div>
    </div>
  </div>
</html>
